*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fdbdf2;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 100px auto;
}

div{
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
}

p{
    text-align: center;
}

button{
    margin: auto;
    width: 50%;
    background: rgb(10, 207, 10);
}
