*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fdbdf2;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 100px auto;
}

.container{
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
}

p{
    text-align: center;
}

.btn{
    display: flex;
    margin: auto;
    width: 50%;
}

button{
    border: none;
    padding: .7rem;
    margin: auto;
    width: 20%;
}

.si{
    background-color: rgb(45, 224, 0);
}

.no{
    background-color: rgb(179, 0, 0);
}
